<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div>
            <p>
            <strong translate="views.dockerize.create.SelectServerCompoments"></strong>
            <span class="pull-right text-muted">40% Complete</span>
            </p>
            <div class="progress progress-striped active" style="width: 100%">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <form role="form">
                    <div class="form-group">
                        <label translate="views.dockerize.create.Name"></label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label translate="views.dockerize.create.Email"></label>
                        <input class="form-control" placeholder="Enter text">
                    </div>
                    <div class="form-group">
                        <label translate="views.dockerize.create.OperationSystem"></label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Ubuntu 14.04
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Centos 7
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="views.dockerize.create.WebServer"></label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Nginx
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Apache2
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="views.dockerize.create.Others"></label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">Mysql
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">Redis
                            </label>
                        </div>
                    </div>
                    <div class="form-group" style="float: right">
                        <a class="btn btn-block btn-success" style="text-align: right" ui-sref="dockerize.confirm">
                            <i class="fa fa-paper-plane"></i> <span translate="views.dockerize.github.Next"></span>
                        </a>
                    </div>
                </form>
            </div>
            <!-- /.row (nested) -->
        </div>
    <!-- /.col-lg-12 -->
    </div>
</div>
<!-- container -->
