<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div>
            <p>
            <strong translate="views.dockerize.deploy.DeployYourApp"></strong>
            <span class="pull-right text-muted">80% Complete</span>
            </p>
            <div class="progress progress-striped active" style="width: 100%">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="float: right">
        <a class="btn btn-block btn-success" style="text-align: right" ui-sref="dockerize.finish">
            <i class="fa fa-paper-plane"></i> <span translate="views.dockerize.github.Next"></span>
        </a>
    </div>
</div>
